<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <!-- Put your page-specific content here -->
    <p>Here are a few of our partner organizations:</p>
    <ul class="partners">
        <% if (organizations && organizations.length >0) { %>
            <% organizations.forEach(function(org) { %>
                <li><img src="images/<%= org.logo_filename %>" alt="<%= org.name %> logo"><strong><%= org.name %></strong>: <%= org.contact_email %></li>
            <% }); %>
        <% } %>
    </ul>
</main>
<%- include('partials/footer') %>